:root {
  --img-logo-width: 80px;
  --img-logo-height: var(--img-logo-width);
}
html {
  font-family: Noto Sans, sans-serif;
  overflow: auto;
}
.page-layout {
  display: grid;
  grid-template-areas:
    "header"
    "content";
}
header {
  grid-area: header;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  outline: 1px solid black;
  z-index: 2;
  top: 0px;
}
h2 {
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.head-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  outline: 1px solid black;
}
.breadcrumbs {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: #f7f7f8;
  outline: 1px solid black;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-left: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.crumb {
  text-decoration: none;
  color: inherit !important;
}
.crumb:hover {
  text-decoration: underline;
}
.head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  margin-left: 2px;
}
.title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.subtitle {
  font-size: 1.2em;
  font-weight: normal;
  margin-top: 2px;
}
.logo {
  display: flex;
  width: var(--img-logo-width);
  height: var(--img-logo-height);
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 16px;
}
.brand {
  display: block;
  border-radius: 50%;
  background-color: white;
}
.brand-effect {
  box-shadow: 0 0 0 1px black;
  transition: box-shadow 0.5s;
}
.brand-effect:hover {
  box-shadow: 0 0 0 1px blue;
}
.content-layout {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "nav . blog"
    ".   . blog";
  grid-template-columns: 1fr 0.5fr 3fr;
  position: relative;
  outline: 1px solid black;
  z-index: 1;
  top: 0px;
}
nav {
  grid-area: nav;
  position: sticky;
  padding-left: 8px;
  padding-right: 8px;
  top: 160px;
}
.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  overflow-y: auto;
  height: 256px;
  padding: 0px;
  margin: 0px;
}
.panel-item {
  padding: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.panel-text {
  text-decoration: none;
  color: inherit !important;
}
article {
  grid-area: blog;
  position: relative;
  outline: 1px solid black;
  padding-left: 8px;
  padding-right: 8px;
  top: 0px;
}
figure {
  margin: 16px;
  overflow-x: auto;
  line-height: 1.5;
}
table {
  border-spacing: 0px;
}
table, tr, th, td {
  border: 0.5px solid black;
}
.inline {
  border-radius: 0.25rem;
  background: #e0e0e0;
  padding: 0px;
  padding-left: 3px;
  padding-right: 3px;
}
.console {
  background: black;
  color: #f8f8f2;
  border-radius: 0.35rem;
  padding: 0px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow-x: auto;
}
.output {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.item {
  display: flex;
  padding: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.item-packed {
  display: flex;
}
pre {
  margin: 0px;
}
